.page-container {
  display: flex;
  height: 100%;
  width: 100%;
  background: #232a3a;

  .sidebar {
    height: 100%;
    width: 300px;
    background: #2c354b;

    .list-items {
      padding-top: 100px;

      .list-item {
        display: flex;
        position: relative;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.9);
        padding: 10px 20px;
        font-family: "Open Sans";
        align-items: center;
        cursor: pointer;

        &.selected {
          background-color: #3e4d64;
          color: #fff;

          i.material-icons {
            color: #fff;
          }

          &::before {
            background-color: #f5a623;
            transform: scaleY(1);
          }
        }

        i.material-icons {
          margin-right: 12px;
          color: rgba(255, 255, 255, 0.7);
        }

        &:hover {
          color: rgba(255, 255, 255, 0.95);

          i.material-icons {
            color: rgba(255, 255, 255, 0.95);
          }

          &::before {
            opacity: 1;
            transform: scaleY(1);
          }
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 5px;
          background-color: #f5a623;
          content: "";
          transform: scaleY(0);
          transition: transform 0.4s, opacity 0.4s;
        }
      }
    }
  }

  .page-content-container {
    padding: 50px;
    width: 100%;
    overflow-y: auto;
  }
}
